<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" th:href="@{/css/shared.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <title>Admin Dashboard</title>
</head>
<body>
<header>

    <form method="get" th:action="@{/index}">
        <input type="submit" class=nav_item value="TOCHMAC">
    </form>

    <form method="post" th:action="@{/logout}">
        <input type="submit" class=nav_item value="Log out from my profile">
    </form>

</header>
<main>
    <h3>Admin Dashboard</h3>

    <a href="admin/manuscript/add">Add manuscript</a>
    <hr>
    <div th:each="manuscript : ${manuscripts}">
        <p th:text="'Shelf Number: ' + ${manuscript.getTitle()}"></p>
        <p th:text="'Description: ' + ${manuscript.getDescription()}"></p>
        <p th:text="'Dating: ' + ${manuscript.getDating()} + 'th century'"></p>
        <p th:text="'Collection: ' + ${manuscript.getCollection()}"></p>
        <p th:text="'Publications: ' + ${manuscript.getPublications()}"></p>
        <a th:href="@{/admin/manuscript/edit/{id}(id=${manuscript.getId()})}">Edit manuscript</a>
        <a th:href="@{/admin/manuscript/delete/{id}(id=${manuscript.getId()})}">Delete manuscript</a>
        <hr>
    </div>
</main>
<footer>
    <div class="footerLogo">TOCHMAC</div>
    <p>
        śanmausa ñäkcyeṃ yetweṃtsa yaitu vājr eṃṅku ṣarnene • ylaiñäktñe weṣsa karpāsta wrocce telkine
        <br/>
        wismai klyautkasta brāhmaññai wertsyai po śaiṣṣe • yāṯaṣṣeñcai ilaiñakteṃ po ylaiñäktents āṣtsa pralyu yparwe
    </p>

</footer>
</body>
</html>