<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/css/shared.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/manuscript.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <title>Добавление товаров</title>
</head>
<body>
<header>

    <form method="get" th:action="@{/index}">
        <input type="submit" class=nav_item value="TOCHMAC">
    </form>

    <form method="post" th:action="@{/logout}">
        <input type="submit" class=nav_item value="Log out from my profile">
    </form>

</header>
<main>
    <h3>Добавление товаров</h3>
    <form th:method="POST" th:action="@{/admin/manuscript/add}" th:object="${manuscript}" enctype="multipart/form-data">
        <label for="title">Введите наименование рукописи: </label>
        <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
        <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        <br>
        <br>
        <label for="description">Введите описание рукописи: </label>
        <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
        <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        <br>
        <br>
        <label for="dating">Введите датировку рукописи: </label>
        <input type="number" th:field="*{dating}" min="1" step="0.00" id="dating">
        <div style="color: red" th:if="${#fields.hasErrors('dating')}" th:errors="*{dating}"></div>
        <br>
        <br>
        <label for="collection">Введите склад: </label>
        <input type="text" th:field="*{collection}" placeholder="Склад" id="collection">
        <div style="color: red" th:if="${#fields.hasErrors('collection')}" th:errors="*{collection}"></div>
        <br>
        <br>
        <label for="publications">Введите данные о продавце: </label>
        <textarea th:field="*{publications}" placeholder="Продавец" id="publications"></textarea>
        <div style="color: red" th:if="${#fields.hasErrors('publications')}" th:errors="*{publications}"></div>
        <br>

        <label for="category">Введите категорию товара: </label>
        <select name="category" th:field="*{category}" id="category">
            <div th:each="element : ${category}">
                <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
            </div>
        </select>
        <br>
        <p style="color: red">Вы можете добавить до 5 фотографий. Первая фотография не может быть пустой т.к она будет
            являться главной</p>
        <input type="file" name="file_one">
        <!--        <input type="file" name="file_two">-->
        <!--        <input type="file" name="file_three">-->
        <!--        <input type="file" name="file_four">-->
        <!--        <input type="file" name="file_five">-->
        <input type="submit" value="Добавить">
    </form>
</main>
<footer>
    <div class="footerLogo">TOCHMAC</div>
    <p>
        śanmausa ñäkcyeṃ yetweṃtsa yaitu vājr eṃṅku ṣarnene • ylaiñäktñe weṣsa karpāsta wrocce telkine
        <br/>
        wismai klyautkasta brāhmaññai wertsyai po śaiṣṣe • yāṯaṣṣeñcai ilaiñakteṃ po ylaiñäktents āṣtsa pralyu yparwe
    </p>
</footer>
</body>
</html>