<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link
          href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap"
          rel="stylesheet"
  />
  <link rel="stylesheet" type="text/css" th:href="@{/css/shared.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/favourites.css}">
  <title>Главная страница</title>
</head>
<body>
<main>
<h3>Корзина товаров</h3>
<div th:each="manuscript : ${favourites_manuscript}">
  <img th:src="'/img/' + ${manuscript.imageList[0].getFileName()}" width="300px">
  <br>
  <a th:href="@{/manuscript/info/{id}(id=${manuscript.getId()})}" th:text="${manuscript.getTitle()}"></a>
  <p th:text="'Цена: ' + ${manuscript.getPrice()}"></p>
  <a th:href="@{/favourites/delete/{id}(id=${manuscript.getId()})}">Удалить</a>
  <hr>
</div>
<h3 th:text="'Итоговая цена: ' + ${price}"></h3>
<a href="/order/create">Оформить заказ</a>
</main>
</body>
</html>