<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/shared.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <title>Главная страница</title>
</head>
<body>
<header>
    <form method="get" th:action="@{/index}">
        <input type="submit" class=nav_item value="TOCHMAC">
    </form>

    <nav>

        <form method="get" th:action="@{/favourites}">
            <input type="submit" class=nav_item value="Favourites">
        </form>
        <form method="post" th:action="@{/logout}">
            <input type="submit" class=nav_item value="Log out from my profile">
        </form>
    </nav>
</header>
<main>
    <div class="banner_section">
        <div class="banner">
            <p class="text_banner">
                Tocharian <br/> <span>manuscript culture</span>
                <br/>
                <button class="banner_btn">Learn more</button>
            </p>
        </div>
    </div>

    <div class="manuscript_section">
        <h3 class="manuscripts_header">OUR MANUSCRIPTS: </h3>
        <div th:each="manuscript : ${manuscripts}">
            <img th:src="'/img/' + ${manuscript.imageList[0].getFileName()}" width="300px">
            <br>
            <a class="manuscript_description" th:href="@{/manuscript/info/{id}(id=${manuscript.getId()})}" th:text="'Shelf Number: ' + ${manuscript.getTitle()}"></a>
            <br>
            <p class="manuscript_description" th:text="'Dating: ' + ${manuscript.getDating()} + 'th century'"></p>
            <br>
            <br>
            <a class="manuscript_description" th:href="@{/favourites/add/{id}(id=${manuscript.getId()})}">Select to the Favourites</a>
        </div>
    </div>

    <div class="selection_section">

        <form th:method="POST" th:action="@{/manuscript/search}">
            <fieldset class="manuscript_search">
                <legend>SELECT SORTING OPTIONS:</legend>
                <br>
                <label for="search">Searching by name</label>
                <input name="search" id="search" placeholder="Enter a title">
                <br>
                <p>Searching by dating</p>
                <label for="ot">From</label>
                <input type="text" name="ot" id="ot" placeholder="5th century">
                <label for="do">To</label>
                <input type="text" name="do" id="do" placeholder="8th century">
                <div>
                    <label for="ascending_dating">From old to new</label>
                    <input type="radio" id="ascending_dating" name="dating" value="sorted_by_ascending_dating">
                    <br>
                    <br>
                    <label for="descending_dating">From new to old</label>
                    <input type="radio" id="descending_dating" name="dating" value="sorted_by_descending_dating">
                    <br>
                    <br>
                    <br>

                    <label for="udanavarga">Udānavarga  </label>
                    <input type="radio" id="udanavarga" name="contact" value="udanavarga">
                    <label for="udanalankara">Udānālaṅkara  </label>
                    <input type="radio" id="udanalankara" name="contact" value="udanalankara">
                    <label for="udanastotra">Udānastotra  </label>
                    <input type="radio" id="udanastotra" name="contact" value="udanastotra">
                    <br>
                    <input type="submit" value="Search" class="banner_btn">
                </div>
            </fieldset>
            <br>
        </form>
    </div>
</main>
<footer>
    <form method="get" th:action="@{/selection}">
        <input type="submit" class=nav_item value="My library">
    </form>
    <p>
        śanmausa ñäkcyeṃ yetweṃtsa yaitu vājr eṃṅku ṣarnene • ylaiñäktñe weṣsa karpāsta wrocce telkine
        <br/>
        wismai klyautkasta brāhmaññai wertsyai po śaiṣṣe • yāṯaṣṣeñcai ilaiñakteṃ po ylaiñäktents āṣtsa pralyu yparwe
    </p>
</footer>

<script th:src="@{/js/index.js}"></script>
</body>
</html>