main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    font-size: x-large;
    font-weight: bold;
    color: darkgreen;
}

input{
    font-size: x-large;
    margin: 10px;
    width: 350px;
    border-radius: 8px;
    padding: 8px;
}