
.result_header {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: xx-large;
    font-weight: bolder;
    justify-content: left;
}

.result_section{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    justify-content: space-between;
    margin: 80px;
    color: #4551bb;
    font-size: large;
    font-weight: bold;
    line-height: 20px;
    row-gap: 50px;
}






