* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea, select {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
    color: #9da5ee;
}

a:hover {
    text-decoration: none;
    color: darkgreen;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    margin: 10px;
}

h3 {
    font-size: x-large;
    font-weight: 800;
    display: block;
    padding: 0 0 20px 0;
    justify-self: center;
    color: #6369a1;
}

body {
    background: linear-gradient(90deg, #e5fae4, #eaf8e9);
    margin: 0;
    min-height: 100%;
    font-family: 'Cormorant SC', serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}


header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    background-color: rgb(32, 21, 21);
    padding: 20px 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    justify-items: end;
    align-items: center;
    border-radius: 3px;
}

.logo {
    color: #f7faf6;
    font-size: 30px;
    font-weight: bold;
}

.nav_item{
    color: #9da5ee;
    background-color: rgb(32, 21, 21);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    border-radius: 8px;
    padding: 2px 10px;
}

.nav_item:hover{
    color: rgb(178, 211, 178);
}


main{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    justify-items: stretch;
    position: relative;
    margin: 100px 0 20px 0;
    /*height: calc(100vh - 100px);*/
}
.banner_section{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    margin: 30px 50px;
    /*height: 200px;*/
}

.banner{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-items: end;
    background-image: url("../images/banner.jpg");
    background-size:cover;
    background-position: center;
    padding: 40px 0;
    border-radius: 30px;
}

.text_banner{
    color: rgb(14, 13, 13);
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(rgb(213, 241, 213), rgb(178, 211, 178));
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 5px 5px 5px 5px rgb(39, 38, 38);
}

.text_banner span{
    color: #4551bb;
}

.banner_btn {
    background: linear-gradient(#8f96db, #6369a1);
    color: rgb(252, 251, 246);
    margin: 15px;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgb(39, 38, 38);
    transition: box-shadow 0.3s ease-out;
}

.banner_btn:hover{
    box-shadow: 2px 2px 2px 0px rgb(39, 38, 38);
}

.banner_btn:active{
    background-color: white;
    color: #4551bb;
}

.manuscript_description{
    display: block;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    color: #4551bb;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 80px;
    width: 100%;
    padding: 0 30px;
    background-color: rgb(32, 21, 21);
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer p {
    color: #9da5ee;
    text-align: end;
}

.footerLogo {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

