<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" th:href="@{/css/shared.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginRegistration.css}">
    <title>Authentication</title>
</head>
<body>
<main>
    <form method="post" action="/process_login">

        <div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <label for="username">Enter login: </label><br>
            <input type="text" placeholder="Your login" name="username" id="username">
            <br>
            <label for="password">Enter password: </label>
            <br>
            <input type="password" placeholder="Your password" name="password" id="password">
        </div>
        <input class="banner_btn" type="submit" value="Welcome!">
        <div th:if="${param.error}" style="color: red">
            Wrong login or password
        </div>
    </form>
    <a class="banner_btn" href="/authentication/registration">Registration</a>
</main>
</body>
</html>