<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/shared.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginRegistration.css}">
    <title>Registration</title>
</head>
<body>
<main>
<form method="post" th:action="@{/authentication/registration}" th:object="${person}">
    <label for="username">Enter login: </label><br>
    <input type="text" th:field="*{login}" placeholder="Your login" name="username" id="username">
    <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <br>
    <label for="password">Enter password: </label>
    <br>
    <input type="password" th:field="*{password}" placeholder="Your password" name="password" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br>
    <input class="banner_btn" type="submit" value="Registration">
    <div th:if="${param.error}" style="color: red">
        Wrong login or password
    </div>
</form>
<a class="banner_btn" href="/authentication/login">Authentication</a>
</main>
</body>
</html>